<h1>Add a New Board</h1>

<%= render partial: 'partials/form_errors', locals: { object: @board } %>

<!--
<form action="<%= boards_path %>" method="POST">
  <input name="title" placeholder="Title">
  <input name="subtitle" placeholder="Subtitle">
  <button>Save</button>
</form>
-->
<%= form_for @board do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :subtitle %>
  <button>Submit</button>
<% end %>