<h1><%= @board.title %></h1>
<h2><%= @board.subtitle %></h2>

<%= link_to "Make a Post", new_post_path(@board) %>
<%= link_to "Edit", edit_board_path(@board) %>
<%= button_to "Delete Board", board_path(@board), method: :delete %>
