<%= render partial: 'partials/form_errors', locals: { object: @post } %>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <button>Submit</button>
<% end %>